@import '/@/assets/styles/index.scss';
.#{$namespace}-layout-header-tag {
    margin-left: 1px;
    transition: width 0.2s;
    padding-left: 4px;
    height: 40px;
    border-bottom: 1px solid $border-color-base;

    &--fixed {
        top: 48px;
        right: 0;
        position: fixed;
        z-index: 10;
    }
    &--light {
        background-color: $white;
    }
    &--dark {
        background-color: $light-black;
        border-bottom: 1px solid $light-black;

        .el-tag {
            &--dark {
                background-color: $menu-dark-active-bg-color;
                border-color: $menu-dark-active-bg-color
            }
        }
    }
    .el-tag {
        margin-top: 4px;
        margin-right: 4px;
    }
}